/* ======== RESET GERAL ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz o padding e borda entrarem no tamanho total do elemento */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ======== BODY ======== */
body {
  background: #111;
}

/* ======== HEADER ======== */
header {
  display: flex; /* deixa logo e menu lado a lado */
  height: 100px;
  color: white;
  text-align: center;
  padding: 20px 50px;
  background-color: black;
  border-bottom: 2px solid #f4b400;
  align-items: center; /* centraliza verticalmente */
  justify-content: space-between; /* joga um pra esquerda e outro pra direita */
}

/* ======== MENU DE NAVEGAÇÃO ======== */
nav ul {
  display: flex;
  gap: 40px; /* espaço entre os itens */
  list-style: none; /* remove as bolinhas da lista */
}

/* ======== LINKS DO MENU ======== */
nav a {
  position: relative; /* necessário para a animação da linha */
  color: white;
  font-size: 18px;
  text-decoration: none; /* remove sublinhado do link */
}

/* ======== LINHA ANIMADA DO MENU ======== */

nav a::after {
  content: "";
  left: 0;
  width: 100%;
  bottom: -5px;
  position: absolute;
  border-bottom: 2px solid #f4b400;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}
/* ======== TEXTO EM DESTAQUE ======== */
header h1{
  font-size: 16px;
  line-height: 0.9;
  text-transform: uppercase;
}

strong {
  font-size: 50px;
  color: #f4b400;
}

/* ======== LOGO + TEXTO ======== */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}


